---
export interface Props {
  title?: string;
  industries?: string[];
}
const { title, industries } = Astro.props;
---

<section class="pb-20 dark:bg-dark">
  <div class="container px-4">
    {industries ? (
      <>
        <div class="mx-auto mb-[60px] max-w-[485px] text-center">
          {title && <h2 class="mb-4 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]">{title}</h2>}
        </div>
        <ul class="flex flex-wrap justify-center gap-4 text-gray-700 text-base mb-8">
          {industries.map((industry, idx) => (
            <li key={idx}>{industry}</li>
          ))}
        </ul>
      </>
    ) : (
      <div class="-mx-4 flex flex-wrap items-center justify-center gap-8 xl:gap-11">
        {
          clients.map(client => (
            <a
              href={client.ref}
              target="_blank"
              rel="nofollow noopner"
            >
              <img
                src={client.image}
                alt={client.name}
                class="dark:hidden"
              />
              <img
                src={client.whiteImage}
                alt={client.name}
                class="hidden dark:block"
              />
            </a>
          ))
        }
      </div>
    )}
  </div>
</section>